@define-color bg-color #272727;
@define-color border-color #424242;

window {
    border: 1px solid @border-color;
    border-radius: 5px;
    background-color: @main-bg;
}

window > box {
    background-color: @bg-color;
}

entry.search {
    outline: none;
    border: none;
    border-radius: 0;
    font-size: 20px;
    box-shadow: none;
}

scrolledwindow {
    padding: 8px 0;
    border-top: 1px solid #424242;
}