@define-color main_bg #121212;
@define-color search_box_bg #1e1e1e;
@define-color divider rgba(255, 255, 255, 0.12);
@define-color window_border_color @divider;
@define-color list_item_hover_bg #112;

window {
    border: 1px solid @window_border_color;
    border-radius: 5px;
    background-color: @main_bg;
}

window > box {
    background-color: @main_bg;
}

entry.search {
    outline: none;
    border: none;
    border-radius: 0;
    background-color: @search_box_bg;
    font-size: 20px;
    box-shadow: none;
}

scrolledwindow {
    border-top: 1px solid @border_color;
}
