@define-color bg_color #272727;
@define-color border_color #424242;

window {
    border: 1px solid @border_color;
    border-radius: 5px;
    background-color: @main_bg;
}

window > box {
    background-color: @bg_color;
}

entry.search {
    outline: none;
    border: none;
    border-radius: 0;
    font-size: 20px;
    box-shadow: none;
}

scrolledwindow {
    padding: 8px 0;
    border-top: 1px solid @border_color;
}
